# Playing with the FIFA19 dataset

### Imports and loading dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset is stored as a .csv file in the same directory
df = pd.read_csv('./data.csv')
df.head(3)

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M

### List of columns and general information of the dataset

In [2]:
df.columns.values

array(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage',
       'Special', 'Preferred Foot', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 'Real Face',
       'Position', 'Jersey Number', 'Joined', 'Loaned From',
       'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST', 'RS', 'LW',
       'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM',
       'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed',
       'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping',
       'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions',
       'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking',
       'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype=object)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
Unnamed: 0                  18207 non-null int64
ID                          18207 non-null int64
Name                        18207 non-null object
Age                         18207 non-null int64
Photo                       18207 non-null object
Nationality                 18207 non-null object
Flag                        18207 non-null object
Overall                     18207 non-null int64
Potential                   18207 non-null int64
Club                        17966 non-null object
Club Logo                   18207 non-null object
Value                       18207 non-null object
Wage                        18207 non-null object
Special                     18207 non-null int64
Preferred Foot              18159 non-null object
International Reputation    18159 non-null float64
Weak Foot                   18159 non-null float64
Skill Moves                 18159 non-null float64
Work Rate                   18159 non-null object
Body Type                   18159 non-null object
Real Face                   18159 non-null object
Position                    18147 non-null object
Jersey Number               18147 non-null float64
Joined                      16654 non-null object
Loaned From                 1264 non-null object
Contract Valid Until        17918 non-null object
Height                      18159 non-null object
Weight                      18159 non-null object
LS                          16122 non-null object
ST                          16122 non-null object
RS                          16122 non-null object
LW                          16122 non-null object
LF                          16122 non-null object
CF                          16122 non-null object
RF                          16122 non-null object
RW                          16122 non-null object
LAM                         16122 non-null object
CAM                         16122 non-null object
RAM                         16122 non-null object
LM                          16122 non-null object
LCM                         16122 non-null object
CM                          16122 non-null object
RCM                         16122 non-null object
RM                          16122 non-null object
LWB                         16122 non-null object
LDM                         16122 non-null object
CDM                         16122 non-null object
RDM                         16122 non-null object
RWB                         16122 non-null object
LB                          16122 non-null object
LCB                         16122 non-null object
CB                          16122 non-null object
RCB                         16122 non-null object
RB                          16122 non-null object
Crossing                    18159 non-null float64
Finishing                   18159 non-null float64
HeadingAccuracy             18159 non-null float64
ShortPassing                18159 non-null float64
Volleys                     18159 non-null float64
Dribbling                   18159 non-null float64
Curve                       18159 non-null float64
FKAccuracy                  18159 non-null float64
LongPassing                 18159 non-null float64
BallControl                 18159 non-null float64
Acceleration                18159 non-null float64
SprintSpeed                 18159 non-null float64
Agility                     18159 non-null float64
Reactions                   18159 non-null float64
Balance                     18159 non-null float64
ShotPower                   18159 non-null float64
Jumping                     18159 non-null float64
Stamina                     18159 non-null float64
Strength                    18159 non-null float64
LongShots                   18159 non-null float64
Aggression                  18159 non-null float64
Interceptions               18159 non-null float64
Positioning                 18159 non-null float64
Vision                      18159 non-null float64
Penalties                   18159 non-null float64
Composure                   18159 non-null float64
Marking                     18159 non-null float64
StandingTackle              18159 non-null float64
SlidingTackle               18159 non-null float64
GKDiving                    18159 non-null float64
GKHandling                  18159 non-null float64
GKKicking                   18159 non-null float64
GKPositioning               18159 non-null float64
GKReflexes                  18159 non-null float64
Release Clause              16643 non-null object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [4]:
df.describe

<bound method DataFrame.describe of        Unnamed: 0      ID                  Name  Age  \
0               0  158023              L. Messi   31
1               1   20801     Cristiano Ronaldo   33
2               2  190871             Neymar Jr   26
3               3  193080                De Gea   27
4               4  192985          K. De Bruyne   27
5               5  183277             E. Hazard   27
6               6  177003             L. Modrić   32
7               7  176580             L. Suárez   31
8               8  155862          Sergio Ramos   32
9               9  200389              J. Oblak   25
10             10  188545        R. Lewandowski   29
11             11  182521              T. Kroos   28
12             12  182493              D. Godín   32
13             13  168542           David Silva   32
14             14  215914              N. Kanté   27
15             15  211110             P. Dybala   24
16             16  202126               H. Kane   24
17             17  194765          A. Griezmann   27
18             18  192448         M. ter Stegen   26
19             19  192119           T. Courtois   26
20             20  189511       Sergio Busquets   29
21             21  179813             E. Cavani   31
22             22  167495              M. Neuer   32
23             23  153079             S. Agüero   30
24             24  138956          G. Chiellini   33
25             25  231747             K. Mbappé   19
26             26  209331              M. Salah   26
27             27  200145              Casemiro   26
28             28  198710          J. Rodríguez   26
29             29  198219            L. Insigne   27
...           ...     ...                   ...  ...
18177       18177  238550             R. Roache   18
18178       18178  243158          L. Wahlstedt   18
18179       18179  246243           J. Williams   17
18180       18180  221669              M. Hurst   22
18181       18181  245734              C. Maher   17
18182       18182  246001               Y. Góez   18
18183       18183   53748         K. Pilkington   44
18184       18184  241657             D. Horton   18
18185       18185  243961              E. Tweed   19
18186       18186  240917          Zhang Yufeng   20
18187       18187  240158             C. Ehlich   19
18188       18188  240927            L. Collins   17
18189       18189  240160            A. Kaltner   18
18190       18190  245569            L. Watkins   18
18191       18191  245570  J. Norville-Williams   18
18192       18192  245571             S. Squire   18
18193       18193  244823            N. Fuentes   18
18194       18194  245862              J. Milli   18
18195       18195  243582            S. Griffin   18
18196       18196  238477           K. Fujikawa   19
18197       18197  246167            D. Holland   18
18198       18198  242844            J. Livesey   18
18199       18199  244677          M. Baldisimo   18
18200       18200  231381              J. Young   18
18201       18201  243413              D. Walsh   18
18202       18202  238813          J. Lundstram   19
18203       18203  243165    N. Christoffersson   19
18204       18204  241638             B. Worman   16
18205       18205  246268        D. Walker-Rice   17
18206       18206  246269             G. Nugent   16

                                                Photo          Nationality  \
0      https://cdn.sofifa.org/players/4/19/158023.png            Argentina
1       https://cdn.sofifa.org/players/4/19/20801.png             Portugal
2      https://cdn.sofifa.org/players/4/19/190871.png               Brazil
3      https://cdn.sofifa.org/players/4/19/193080.png                Spain
4      https://cdn.sofifa.org/players/4/19/192985.png              Belgium
5      https://cdn.sofifa.org/players/4/19/183277.png              Belgium
6      https://cdn.sofifa.org/players/4/19/177003.png              Croatia
7      https://cdn.sofifa.org/players/4/19/176580.png              Uruguay
8      https://cdn.sofifa.org/players/4/19/155862.png                Spain
9      https://cdn.sofifa.org/players/4/19/200389.png             Slovenia
10     https://cdn.sofifa.org/players/4/19/188545.png               Poland
11     https://cdn.sofifa.org/players/4/19/182521.png              Germany
12     https://cdn.sofifa.org/players/4/19/182493.png              Uruguay
13     https://cdn.sofifa.org/players/4/19/168542.png                Spain
14     https://cdn.sofifa.org/players/4/19/215914.png               France
15     https://cdn.sofifa.org/players/4/19/211110.png            Argentina
16     https://cdn.sofifa.org/players/4/19/202126.png              England
17     https://cdn.sofifa.org/players/4/19/194765.png               France
18     https://cdn.sofifa.org/players/4/19/192448.png              Germany
19     https://cdn.sofifa.org/players/4/19/192119.png              Belgium
20     https://cdn.sofifa.org/players/4/19/189511.png                Spain
21     https://cdn.sofifa.org/players/4/19/179813.png              Uruguay
22     https://cdn.sofifa.org/players/4/19/167495.png              Germany
23     https://cdn.sofifa.org/players/4/19/153079.png            Argentina
24     https://cdn.sofifa.org/players/4/19/138956.png                Italy
25     https://cdn.sofifa.org/players/4/19/231747.png               France
26     https://cdn.sofifa.org/players/4/19/209331.png                Egypt
27     https://cdn.sofifa.org/players/4/19/200145.png               Brazil
28     https://cdn.sofifa.org/players/4/19/198710.png             Colombia
29     https://cdn.sofifa.org/players/4/19/198219.png                Italy
...                                               ...                  ...
18177  https://cdn.sofifa.org/players/4/19/238550.png  Republic of Ireland
18178  https://cdn.sofifa.org/players/4/19/243158.png               Sweden
18179  https://cdn.sofifa.org/players/4/19/246243.png              England
18180  https://cdn.sofifa.org/players/4/19/221669.png             Scotland
18181  https://cdn.sofifa.org/players/4/19/245734.png  Republic of Ireland
18182  https://cdn.sofifa.org/players/4/19/246001.png             Colombia
18183   https://cdn.sofifa.org/players/4/19/53748.png              England
18184  https://cdn.sofifa.org/players/4/19/241657.png              England
18185  https://cdn.sofifa.org/players/4/19/243961.png  Republic of Ireland
18186  https://cdn.sofifa.org/players/4/19/240917.png             China PR
18187  https://cdn.sofifa.org/players/4/19/240158.png              Germany
18188  https://cdn.sofifa.org/players/4/19/240927.png                Wales
18189  https://cdn.sofifa.org/players/4/19/240160.png              Germany
18190  https://cdn.sofifa.org/players/4/19/245569.png              England
18191  https://cdn.sofifa.org/players/4/19/245570.png              England
18192  https://cdn.sofifa.org/players/4/19/245571.png              England
18193  https://cdn.sofifa.org/players/4/19/244823.png                Chile
18194  https://cdn.sofifa.org/players/4/19/245862.png                Italy
18195  https://cdn.sofifa.org/players/4/19/243582.png  Republic of Ireland
18196  https://cdn.sofifa.org/players/4/19/238477.png                Japan
18197  https://cdn.sofifa.org/players/4/19/246167.png  Republic of Ireland
18198  https://cdn.sofifa.org/players/4/19/242844.png              England
18199  https://cdn.sofifa.org/players/4/19/244677.png               Canada
18200  https://cdn.sofifa.org/players/4/19/231381.png             Scotland
18201  https://cdn.sofifa.org/players/4/19/243413.png  Republic of Ireland
18202  https://cdn.sofifa.org/players/4/19/238813.png              England
18203  https://cdn.sofifa.org/players/4/19/243165.png               Sweden
18204  https://cdn.sofifa.org/players/4/19/241638.png              England
18205  https://cdn.sofifa.org/players/4/19/246268.png              England
18206  https://cdn.sofifa.org/players/4/19/246269.png              England

                                       Flag  Overall  Potential  \
0       https://cdn.sofifa.org/flags/52.png       94         94
1       https://cdn.sofifa.org/flags/38.png       94         94
2       https://cdn.sofifa.org/flags/54.png       92         93
3       https://cdn.sofifa.org/flags/45.png       91         93
4        https://cdn.sofifa.org/flags/7.png       91         92
5        https://cdn.sofifa.org/flags/7.png       91         91
6       https://cdn.sofifa.org/flags/10.png       91         91
7       https://cdn.sofifa.org/flags/60.png       91         91
8       https://cdn.sofifa.org/flags/45.png       91         91
9       https://cdn.sofifa.org/flags/44.png       90         93
10      https://cdn.sofifa.org/flags/37.png       90         90
11      https://cdn.sofifa.org/flags/21.png       90         90
12      https://cdn.sofifa.org/flags/60.png       90         90
13      https://cdn.sofifa.org/flags/45.png       90         90
14      https://cdn.sofifa.org/flags/18.png       89         90
15      https://cdn.sofifa.org/flags/52.png       89         94
16      https://cdn.sofifa.org/flags/14.png       89         91
17      https://cdn.sofifa.org/flags/18.png       89         90
18      https://cdn.sofifa.org/flags/21.png       89         92
19       https://cdn.sofifa.org/flags/7.png       89         90
20      https://cdn.sofifa.org/flags/45.png       89         89
21      https://cdn.sofifa.org/flags/60.png       89         89
22      https://cdn.sofifa.org/flags/21.png       89         89
23      https://cdn.sofifa.org/flags/52.png       89         89
24      https://cdn.sofifa.org/flags/27.png       89         89
25      https://cdn.sofifa.org/flags/18.png       88         95
26     https://cdn.sofifa.org/flags/111.png       88         89
27      https://cdn.sofifa.org/flags/54.png       88         90
28      https://cdn.sofifa.org/flags/56.png       88         89
29      https://cdn.sofifa.org/flags/27.png       88         88
...                                     ...      ...        ...
18177   https://cdn.sofifa.org/flags/25.png       48         69
18178   https://cdn.sofifa.org/flags/46.png       48         65
18179   https://cdn.sofifa.org/flags/14.png       48         64
18180   https://cdn.sofifa.org/flags/42.png       48         58
18181   https://cdn.sofifa.org/flags/25.png       48         66
18182   https://cdn.sofifa.org/flags/56.png       48         65
18183   https://cdn.sofifa.org/flags/14.png       48         48
18184   https://cdn.sofifa.org/flags/14.png       48         55
18185   https://cdn.sofifa.org/flags/25.png       48         59
18186  https://cdn.sofifa.org/flags/155.png       47         64
18187   https://cdn.sofifa.org/flags/21.png       47         59
18188   https://cdn.sofifa.org/flags/50.png       47         62
18189   https://cdn.sofifa.org/flags/21.png       47         61
18190   https://cdn.sofifa.org/flags/14.png       47         67
18191   https://cdn.sofifa.org/flags/14.png       47         65
18192   https://cdn.sofifa.org/flags/14.png       47         64
18193   https://cdn.sofifa.org/flags/55.png       47         64
18194   https://cdn.sofifa.org/flags/27.png       47         65
18195   https://cdn.sofifa.org/flags/25.png       47         67
18196  https://cdn.sofifa.org/flags/163.png       47         61
18197   https://cdn.sofifa.org/flags/25.png       47         61
18198   https://cdn.sofifa.org/flags/14.png       47         70
18199   https://cdn.sofifa.org/flags/70.png       47         69
18200   https://cdn.sofifa.org/flags/42.png       47         62
18201   https://cdn.sofifa.org/flags/25.png       47         68
18202   https://cdn.sofifa.org/flags/14.png       47         65
18203   https://cdn.sofifa.org/flags/46.png       47         63
18204   https://cdn.sofifa.org/flags/14.png       47         67
18205   https://cdn.sofifa.org/flags/14.png       47         66
18206   https://cdn.sofifa.org/flags/14.png       46         66

                         Club  ... Composure Marking StandingTackle  \
0                FC Barcelona  ...      96.0    33.0           28.0
1                    Juventus  ...      95.0    28.0           31.0
2         Paris Saint-Germain  ...      94.0    27.0           24.0
3           Manchester United  ...      68.0    15.0           21.0
4             Manchester City  ...      88.0    68.0           58.0
5                     Chelsea  ...      91.0    34.0           27.0
6                 Real Madrid  ...      84.0    60.0           76.0
7                FC Barcelona  ...      85.0    62.0           45.0
8                 Real Madrid  ...      82.0    87.0           92.0
9             Atlético Madrid  ...      70.0    27.0           12.0
10          FC Bayern München  ...      86.0    34.0           42.0
11                Real Madrid  ...      85.0    72.0           79.0
12            Atlético Madrid  ...      82.0    90.0           89.0
13            Manchester City  ...      93.0    59.0           53.0
14                    Chelsea  ...      85.0    90.0           91.0
15                   Juventus  ...      84.0    23.0           20.0
16          Tottenham Hotspur  ...      89.0    56.0           36.0
17            Atlético Madrid  ...      87.0    59.0           47.0
18               FC Barcelona  ...      69.0    25.0           13.0
19                Real Madrid  ...      66.0    20.0           18.0
20               FC Barcelona  ...      90.0    90.0           86.0
21        Paris Saint-Germain  ...      82.0    52.0           45.0
22          FC Bayern München  ...      70.0    17.0           10.0
23            Manchester City  ...      90.0    30.0           20.0
24                   Juventus  ...      84.0    93.0           93.0
25        Paris Saint-Germain  ...      86.0    34.0           34.0
26                  Liverpool  ...      91.0    38.0           43.0
27                Real Madrid  ...      84.0    88.0           90.0
28          FC Bayern München  ...      87.0    52.0           41.0
29                     Napoli  ...      83.0    51.0           24.0
...                       ...  ...       ...     ...            ...
18177               Blackpool  ...      49.0    18.0           16.0
18178              Dalkurd FF  ...      28.0    16.0           11.0
18179        Northampton Town  ...      37.0    42.0           51.0
18180        St. Johnstone FC  ...      28.0    12.0           15.0
18181          Bray Wanderers  ...      38.0    43.0           49.0
18182       Atlético Nacional  ...      38.0    44.0           42.0
18183        Cambridge United  ...      56.0    15.0           15.0
18184            Lincoln City  ...      42.0    47.0           49.0
18185              Derry City  ...      43.0    39.0           39.0
18186        Beijing Renhe FC  ...      39.0    53.0           41.0
18187      SpVgg Unterhaching  ...      47.0    40.0           42.0
18188          Newport County  ...      46.0    33.0           38.0
18189      SpVgg Unterhaching  ...      37.0    28.0           15.0
18190        Cambridge United  ...      46.0    35.0           44.0
18191        Cambridge United  ...      36.0    45.0           42.0
18192        Cambridge United  ...      38.0    41.0           41.0
18193          Unión Española  ...      32.0    41.0           48.0
18194                   Lecce  ...      23.0     6.0           10.0
18195            Waterford FC  ...      41.0    44.0           37.0
18196            Júbilo Iwata  ...      35.0    41.0           44.0
18197               Cork City  ...      52.0    41.0           47.0
18198           Burton Albion  ...      34.0    15.0           11.0
18199  Vancouver Whitecaps FC  ...      40.0    48.0           49.0
18200            Swindon Town  ...      50.0    15.0           17.0
18201            Waterford FC  ...      43.0    44.0           47.0
18202         Crewe Alexandra  ...      45.0    40.0           48.0
18203          Trelleborgs FF  ...      42.0    22.0           15.0
18204        Cambridge United  ...      41.0    32.0           13.0
18205         Tranmere Rovers  ...      46.0    20.0           25.0
18206         Tranmere Rovers  ...      43.0    40.0           43.0

       SlidingTackle GKDiving  GKHandling  GKKicking  GKPositioning  \
0               26.0      6.0        11.0       15.0           14.0
1               23.0      7.0        11.0       15.0           14.0
2               33.0      9.0         9.0       15.0           15.0
3               13.0     90.0        85.0       87.0           88.0
4               51.0     15.0        13.0        5.0           10.0
5               22.0     11.0        12.0        6.0            8.0
6               73.0     13.0         9.0        7.0           14.0
7               38.0     27.0        25.0       31.0           33.0
8               91.0     11.0         8.0        9.0            7.0
9               18.0     86.0        92.0       78.0           88.0
10              19.0     15.0         6.0       12.0            8.0
11              69.0     10.0        11.0       13.0            7.0
12              89.0      6.0         8.0       15.0            5.0
13              29.0      6.0        15.0        7.0            6.0
14              85.0     15.0        12.0       10.0            7.0
15              20.0      5.0         4.0        4.0            5.0
16              38.0      8.0        10.0       11.0           14.0
17              48.0     14.0         8.0       14.0           13.0
18              10.0     87.0        85.0       88.0           85.0
19              16.0     85.0        91.0       72.0           86.0
20              80.0      5.0         8.0       13.0            9.0
21              39.0     12.0         5.0       13.0           13.0
22              11.0     90.0        86.0       91.0           87.0
23              12.0     13.0        15.0        6.0           11.0
24              90.0      3.0         3.0        2.0            4.0
25              32.0     13.0         5.0        7.0           11.0
26              41.0     14.0        14.0        9.0           11.0
27              87.0     13.0        14.0       16.0           12.0
28              44.0     15.0        15.0       15.0            5.0
29              22.0      8.0         4.0       14.0            9.0
...              ...      ...         ...        ...            ...
18177           11.0      6.0         9.0       11.0            7.0
18178           10.0     47.0        46.0       50.0           45.0
18179           49.0     14.0        11.0        7.0           11.0
18180           16.0     45.0        49.0       50.0           50.0
18181           45.0      8.0        10.0       12.0            9.0
18182           46.0      9.0        15.0       15.0            8.0
18183           13.0     45.0        48.0       44.0           49.0
18184           53.0     12.0         5.0       12.0           14.0
18185           48.0      6.0        11.0        9.0            5.0
18186           51.0     15.0         7.0       14.0            6.0
18187           42.0     13.0        12.0       11.0           15.0
18188           41.0      5.0        12.0        8.0           13.0
18189           22.0     15.0         5.0       14.0           12.0
18190           47.0     13.0         7.0       14.0           10.0
18191           46.0     15.0        13.0        6.0           14.0
18192           44.0     11.0        11.0        8.0           12.0
18193           48.0      6.0        10.0        6.0           12.0
18194           11.0     52.0        52.0       52.0           40.0
18195           48.0     13.0        14.0       12.0            7.0
18196           54.0     10.0        12.0        6.0           11.0
18197           38.0     13.0         6.0        9.0           10.0
18198           13.0     46.0        52.0       58.0           42.0
18199           49.0      7.0         7.0        9.0           14.0
18200           14.0     11.0        15.0       12.0           12.0

### We notice that this dataframe has around 18,000 rows and 89 columns. We will now decide what are the columns and rows we don't need

In [5]:
list_of_columns = df.columns.values
for i in list_of_columns:
    print(i)
    print(df[i].head(2))

Unnamed: 0
0    0
1    1
Name: Unnamed: 0, dtype: int64
ID
0    158023
1     20801
Name: ID, dtype: int64
Name
0             L. Messi
1    Cristiano Ronaldo
Name: Name, dtype: object
Age
0    31
1    33
Name: Age, dtype: int64
Photo
0    https://cdn.sofifa.org/players/4/19/158023.png
1     https://cdn.sofifa.org/players/4/19/20801.png
Name: Photo, dtype: object
Nationality
0    Argentina
1     Portugal
Name: Nationality, dtype: object
Flag
0    https://cdn.sofifa.org/flags/52.png
1    https://cdn.sofifa.org/flags/38.png
Name: Flag, dtype: object
Overall
0    94
1    94
Name: Overall, dtype: int64
Potential
0    94
1    94
Name: Potential, dtype: int64
Club
0    FC Barcelona
1        Juventus
Name: Club, dtype: object
Club Logo
0    https://cdn.sofifa.org/teams/2/light/241.png
1     https://cdn.sofifa.org/teams/2/light/45.png
Name: Club Logo, dtype: object
Value
0    €110.5M
1       €77M
Name: Value, dtype: object
Wage
0    €565K
1    €405K
Name: Wage, dtype: object
Special
0    2202
1    2228
Name: Special, dtype: int64
Preferred Foot
0     Left
1    Right
Name: Preferred Foot, dtype: object
International Reputation
0    5.0
1    5.0
Name: International Reputation, dtype: float64
Weak Foot
0    4.0
1    4.0
Name: Weak Foot, dtype: float64
Skill Moves
0    4.0
1    5.0
Name: Skill Moves, dtype: float64
Work Rate
0    Medium/ Medium
1         High/ Low
Name: Work Rate, dtype: object
Body Type
0         Messi
1    C. Ronaldo
Name: Body Type, dtype: object
Real Face
0    Yes
1    Yes
Name: Real Face, dtype: object
Position
0    RF
1    ST
Name: Position, dtype: object
Jersey Number
0    10.0
1     7.0
Name: Jersey Number, dtype: float64
Joined
0     Jul 1, 2004
1    Jul 10, 2018
Name: Joined, dtype: object
Loaned From
0    NaN
1    NaN
Name: Loaned From, dtype: object
Contract Valid Until
0    2021
1    2022
Name: Contract Valid Until, dtype: object
Height
0    5'7
1    6'2
Name: Height, dtype: object
Weight
0    159lbs
1    183lbs
Name: Weight, dtype: object
LS
0    88+2
1    91+3
Name: LS, dtype: object
ST
0    88+2
1    91+3
Name: ST, dtype: object
RS
0    88+2
1    91+3
Name: RS, dtype: object
LW
0    92+2
1    89+3
Name: LW, dtype: object
LF
0    93+2
1    90+3
Name: LF, dtype: object
CF
0    93+2
1    90+3
Name: CF, dtype: object
RF
0    93+2
1    90+3
Name: RF, dtype: object
RW
0    92+2
1    89+3
Name: RW, dtype: object
LAM
0    93+2
1    88+3
Name: LAM, dtype: object
CAM
0    93+2
1    88+3
Name: CAM, dtype: object
RAM
0    93+2
1    88+3
Name: RAM, dtype: object
LM
0    91+2
1    88+3
Name: LM, dtype: object
LCM
0    84+2
1    81+3
Name: LCM, dtype: object
CM
0    84+2
1    81+3
Name: CM, dtype: object
RCM
0    84+2
1    81+3
Name: RCM, dtype: object
RM
0    91+2
1    88+3
Name: RM, dtype: object
LWB
0    64+2
1    65+3
Name: LWB, dtype: object
LDM
0    61+2
1    61+3
Name: LDM, dtype: object
CDM
0    61+2
1    61+3
Name: CDM, dtype: object
RDM
0    61+2
1    61+3
Name: RDM, dtype: object
RWB
0    64+2
1    65+3
Name: RWB, dtype: object
LB
0    59+2
1    61+3
Name: LB, dtype: object
LCB
0    47+2
1    53+3
Name: LCB, dtype: object
CB
0    47+2
1    53+3
Name: CB, dtype: object
RCB
0    47+2
1    53+3
Name: RCB, dtype: object
RB
0    59+2
1    61+3
Name: RB, dtype: object
Crossing
0    84.0
1    84.0
Name: Crossing, dtype: float64
Finishing
0    95.0
1    94.0
Name: Finishing, dtype: float64
HeadingAccuracy
0    70.0
1    89.0
Name: HeadingAccuracy, dtype: float64
ShortPassing
0    90.0
1    81.0
Name: ShortPassing, dtype: float64
Volleys
0    86.0
1    87.0
Name: Volleys, dtype: float64
Dribbling
0    97.0
1    88.0
Name: Dribbling, dtype: float64
Curve
0    93.0
1    81.0
Name: Curve, dtype: float64
FKAccuracy
0    94.0
1    76.0
Name: FKAccuracy, dtype: float64
LongPassing
0    87.0
1    77.0
Name: LongPassing, dtype: float64
BallControl
0    96.0
1    94.0
Name: BallControl, dtype: float64
Acceleration
0    91.0
1    89.0
Name: Acceleration, dtype: float64
SprintSpeed
0    86.0
1    91.0
Name: SprintSpeed, dtype: float64
Agility
0    91.0
1    87.0
Name: Agility, dtype: float64
Reactions
0    95.0
1    96.0
Name: Reactions, dtype: float64
Balance
0    95.0
1    70.0
Name: Balance, dtype: float64
ShotPower
0    85.0
1    95.0
Name: ShotPower, dtype: float64
Jumping
0    68.0
1    95.0
Name: Jumping, dtype: float64
Stamina
0    72.0
1    88.0
Name: Stamina, dtype: float64
Strength
0    59.0
1    79.0
Name: Strength, dtype: float64
LongShots
0    94.0
1    93.0
Name: LongShots, dtype: float64
Aggression
0    48.0
1    63.0
Name: Aggression, dtype: float64
Interceptions
0    22.0
1    29.0
Name: Interceptions, dtype: float64
Positioning
0    94.0
1    95.0
Name: Positioning, dtype: float64
Vision
0    94.0
1    82.0
Name: Vision, dtype: float64
Penalties
0    75.0
1    85.0
Name: Penalties, dtype: float64
Composure
0    96.0
1    95.0
Name: Composure, dtype: float64
Marking
0    33.0
1    28.0
Name: Marking, dtype: float64
StandingTackle
0    28.0
1    31.0
Name: StandingTackle, dtype: float64
SlidingTackle
0    26.0
1    23.0
Name: SlidingTackle, dtype: float64
GKDiving
0    6.0
1    7.0
Name: GKDiving, dtype: float64
GKHandling
0    11.0
1    11.0
Name: GKHandling, dtype: float64
GKKicking
0    15.0
1    15.0
Name: GKKicking, dtype: float64
GKPositioning
0    14.0
1    14.0
Name: GKPositioning, dtype: float64
GKReflexes
0     8.0
1    11.0
Name: GKReflexes, dtype: float64
Release Clause
0    €226.5M
1    €127.1M
Name: Release Clause, dtype: object

In [6]:
unnecessary_columns = ['Photo','Flag','Club Logo','Special','International Reputation','Body Type','Real Face','Jersey Number','Joined','Loaned From','Contract Valid Until','Release Clause']
df.drop(unnecessary_columns, axis=1, inplace=True)

In [7]:
len(df.columns.values)

77

In [8]:
len(df)

18207

### We now remove all rows with any of its values as NULL

In [9]:
df.isna().sum()

Unnamed: 0           0
ID                   0
Name                 0
Age                  0
Nationality          0
Overall              0
Potential            0
Club               241
Value                0
Wage                 0
Preferred Foot      48
Weak Foot           48
Skill Moves         48
Work Rate           48
Position            60
Height              48
Weight              48
LS                2085
ST                2085
RS                2085
LW                2085
LF                2085
CF                2085
RF                2085
RW                2085
LAM               2085
CAM               2085
RAM               2085
LM                2085
LCM               2085
                  ...
Volleys             48
Dribbling           48
Curve               48
FKAccuracy          48
LongPassing         48
BallControl         48
Acceleration        48
SprintSpeed         48
Agility             48
Reactions           48
Balance             48
ShotPower           48
Jumping             48
Stamina             48
Strength            48
LongShots           48
Aggression          48
Interceptions       48
Positioning         48
Vision              48
Penalties           48
Composure           48
Marking             48
StandingTackle      48
SlidingTackle       48
GKDiving            48
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Length: 77, dtype: int64

In [10]:
for i in df.columns.values:
    print(i),
    print(df[i].isna().sum())

Unnamed: 0 0
ID 0
Name 0
Age 0
Nationality 0
Overall 0
Potential 0
Club 241
Value 0
Wage 0
Preferred Foot 48
Weak Foot 48
Skill Moves 48
Work Rate 48
Position 60
Height 48
Weight 48
LS 2085
ST 2085
RS 2085
LW 2085
LF 2085
CF 2085
RF 2085
RW 2085
LAM 2085
CAM 2085
RAM 2085
LM 2085
LCM 2085
CM 2085
RCM 2085
RM 2085
LWB 2085
LDM 2085
CDM 2085
RDM 2085
RWB 2085
LB 2085
LCB 2085
CB 2085
RCB 2085
RB 2085
Crossing 48
Finishing 48
HeadingAccuracy 48
ShortPassing 48
Volleys 48
Dribbling 48
Curve 48
FKAccuracy 48
LongPassing 48
BallControl 48
Acceleration 48
SprintSpeed 48
Agility 48
Reactions 48
Balance 48
ShotPower 48
Jumping 48
Stamina 48
Strength 48
LongShots 48
Aggression 48
Interceptions 48
Positioning 48
Vision 48
Penalties 48
Composure 48
Marking 48
StandingTackle 48
SlidingTackle 48
GKDiving 48
GKHandling 48
GKKicking 48
GKPositioning 48
GKReflexes 48

In [11]:
df.dropna(how='any',axis=0,inplace=True)

In [12]:
for i in df.columns.values:
    print(i),
    print(df[i].isna().sum())

Unnamed: 0 0
ID 0
Name 0
Age 0
Nationality 0
Overall 0
Potential 0
Club 0
Value 0
Wage 0
Preferred Foot 0
Weak Foot 0
Skill Moves 0
Work Rate 0
Position 0
Height 0
Weight 0
LS 0
ST 0
RS 0
LW 0
LF 0
CF 0
RF 0
RW 0
LAM 0
CAM 0
RAM 0
LM 0
LCM 0
CM 0
RCM 0
RM 0
LWB 0
LDM 0
CDM 0
RDM 0
RWB 0
LB 0
LCB 0
CB 0
RCB 0
RB 0
Crossing 0
Finishing 0
HeadingAccuracy 0
ShortPassing 0
Volleys 0
Dribbling 0
Curve 0
FKAccuracy 0
LongPassing 0
BallControl 0
Acceleration 0
SprintSpeed 0
Agility 0
Reactions 0
Balance 0
ShotPower 0
Jumping 0
Stamina 0
Strength 0
LongShots 0
Aggression 0
Interceptions 0
Positioning 0
Vision 0
Penalties 0
Composure 0
Marking 0
StandingTackle 0
SlidingTackle 0
GKDiving 0
GKHandling 0
GKKicking 0
GKPositioning 0
GKReflexes 0

### Let's now get to processing the data.
### But, before that, let's analyse pitfalls that may occur during this process

In [14]:
for i in df.columns.values:
    print(i),
    print(df[i].dtype)

Unnamed: 0 int64
ID int64
Name object
Age int64
Nationality object
Overall int64
Potential int64
Club object
Value object
Wage object
Preferred Foot object
Weak Foot float64
Skill Moves float64
Work Rate object
Position object
Height object
Weight object
LS object
ST object
RS object
LW object
LF object
CF object
RF object
RW object
LAM object
CAM object
RAM object
LM object
LCM object
CM object
RCM object
RM object
LWB object
LDM object
CDM object
RDM object
RWB object
LB object
LCB object
CB object
RCB object
RB object
Crossing float64
Finishing float64
HeadingAccuracy float64
ShortPassing float64
Volleys float64
Dribbling float64
Curve float64
FKAccuracy float64
LongPassing float64
BallControl float64
Acceleration float64
SprintSpeed float64
Agility float64
Reactions float64
Balance float64
ShotPower float64
Jumping float64
Stamina float64
Strength float64
LongShots float64
Aggression float64
Interceptions float64
Positioning float64
Vision float64
Penalties float64
Composure float64
Marking float64
StandingTackle float64
SlidingTackle float64
GKDiving float64
GKHandling float64
GKKicking float64
GKPositioning float64
GKReflexes float64

### ```Value``` and ```Wage``` columns are of type 'object'; we would like to make them into numeric types

In [15]:
df['Value'].head(3)

0    €110.5M
1       €77M
2    €118.5M
Name: Value, dtype: object

In [29]:
df['Wage'].head((3)

0    €565K
1    €405K
2    €290K
Name: Wage, dtype: object

In [30]:
million = df[df['Value'].str.contains("M")]
thousand = df[df['Value'].str.contains("K")]
print(len(million))
print(len(thousand))

6360
9558

In [31]:
million[:3]

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0

In [32]:
thousand[-4:-2]

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
18203,18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,18204,241638,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0

### Simply converting a value/wage like ```100.5K``` into ```100.5``` will not be enough as we have both M and K in ```values```

In [57]:
def convert_value(s):
    s = s.replace('€','')    
    x = float(s[:-1])
    if(s[-1]=='K'):
        return x*1000
    else:
        return x*1000000

In [59]:
convert_value('€100.5M')

100500000.0

In [60]:
million_wage = df[df['Wage'].str.contains("M")]
thousand_wage = df[df['Wage'].str.contains("K")]
print(len(million_wage))
print(len(thousand_wage))

0
15926

In [61]:
df['Wage'].apply(lambda x: convert_value(x))

0        565000.0
1        405000.0
2        290000.0
4        355000.0
5        340000.0
6        420000.0
7        455000.0
8        380000.0
10       205000.0
11       355000.0
12       125000.0
13       285000.0
14       225000.0
15       205000.0
16       205000.0
17       145000.0
20       315000.0
21       200000.0
23       300000.0
24       215000.0
25       100000.0
26       255000.0
27       285000.0
28       315000.0
29       165000.0
30       315000.0
31       205000.0
32       340000.0
33       265000.0
34       160000.0
           ...
18171      1000.0
18173      1000.0
18174      1000.0
18175      1000.0
18176      1000.0
18177      1000.0
18179      1000.0
18181      1000.0
18182      1000.0
18184      1000.0
18185      1000.0
18186      1000.0
18187      1000.0
18188      1000.0
18189      1000.0
18190      1000.0
18191      1000.0
18192      1000.0
18193      1000.0
18195      1000.0
18196      1000.0
18197      1000.0
18199      1000.0
18200      1000.0
18201      1000.0
18202      1000.0
18203      1000.0
18204      1000.0
18205      1000.0
18206      1000.0
Name: Wage, Length: 15926, dtype: float64

In [62]:
df['Wage'].head()

0    €565K
1    €405K
2    €290K
4    €355K
5    €340K
Name: Wage, dtype: object

In [63]:
df['Wage'] = df['Wage'].apply(lambda x: convert_value(x))

In [64]:
df['Wage'].head()

0    565000.0
1    405000.0
2    290000.0
4    355000.0
5    340000.0
Name: Wage, dtype: float64

In [67]:
convert_value(df['Value'][0])

110500000.0

In [68]:
convert_value(df['Value'][1])

77000000.0

In [71]:
convert_value('€100K')

100000.0

### Now, notice that the positional attributes are of type 'float' instead of 'int64'. That won't mess with our analysis, so we will let that slide.

In [81]:
for i in df.columns.values:
    print(i),
    print(df[i].dtype)

Unnamed: 0 int64
ID int64
Name object
Age int64
Nationality object
Overall int64
Potential int64
Club object
Value object
Wage float64
Preferred Foot object
Weak Foot float64
Skill Moves float64
Work Rate object
Position object
Height object
Weight object
LS object
ST object
RS object
LW object
LF object
CF object
RF object
RW object
LAM object
CAM object
RAM object
LM object
LCM object
CM object
RCM object
RM object
LWB object
LDM object
CDM object
RDM object
RWB object
LB object
LCB object
CB object
RCB object
RB object
Crossing float64
Finishing float64
HeadingAccuracy float64
ShortPassing float64
Volleys float64
Dribbling float64
Curve float64
FKAccuracy float64
LongPassing float64
BallControl float64
Acceleration float64
SprintSpeed float64
Agility float64
Reactions float64
Balance float64
ShotPower float64
Jumping float64
Stamina float64
Strength float64
LongShots float64
Aggression float64
Interceptions float64
Positioning float64
Vision float64
Penalties float64
Composure float64
Marking float64
StandingTackle float64
SlidingTackle float64
GKDiving float64
GKHandling float64
GKKicking float64
GKPositioning float64
GKReflexes float64

In [82]:
plus_columns=[
'LS',
'ST',
'RS',
'LW',
'LF',
'CF',
'RF',
'RW',
'LAM',
'CAM',
'RAM',
'LM',
'LCM',
'CM',
'RCM',
'RM',
'LWB',
'LDM',
'CDM',
'RDM',
'RWB',
'LB',
'LCB',
'CB',
'RCB',
'RB'
]

In [83]:
for i in plus_columns:
    print(df[i].head(2))

0    88+2
1    91+3
Name: LS, dtype: object
0    88+2
1    91+3
Name: ST, dtype: object
0    88+2
1    91+3
Name: RS, dtype: object
0    92+2
1    89+3
Name: LW, dtype: object
0    93+2
1    90+3
Name: LF, dtype: object
0    93+2
1    90+3
Name: CF, dtype: object
0    93+2
1    90+3
Name: RF, dtype: object
0    92+2
1    89+3
Name: RW, dtype: object
0    93+2
1    88+3
Name: LAM, dtype: object
0    93+2
1    88+3
Name: CAM, dtype: object
0    93+2
1    88+3
Name: RAM, dtype: object
0    91+2
1    88+3
Name: LM, dtype: object
0    84+2
1    81+3
Name: LCM, dtype: object
0    84+2
1    81+3
Name: CM, dtype: object
0    84+2
1    81+3
Name: RCM, dtype: object
0    91+2
1    88+3
Name: RM, dtype: object
0    64+2
1    65+3
Name: LWB, dtype: object
0    61+2
1    61+3
Name: LDM, dtype: object
0    61+2
1    61+3
Name: CDM, dtype: object
0    61+2
1    61+3
Name: RDM, dtype: object
0    64+2
1    65+3
Name: RWB, dtype: object
0    59+2
1    61+3
Name: LB, dtype: object
0    47+2
1    53+3
Name: LCB, dtype: object
0    47+2
1    53+3
Name: CB, dtype: object
0    47+2
1    53+3
Name: RCB, dtype: object
0    59+2
1    61+3
Name: RB, dtype: object

### We see that these values are of type ```object``` and we need to make them into ```int```

In [84]:
k=0
for i in df['LS']:
    if len(i)==4:
        k+=1
        
print(k-len(df['LS']))

0

In [85]:
for j in plus_columns:
    k=0
    for i in df[j]:
        if len(i)==4:
            k+=1

    print(k-len(df['LS']))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [104]:
def convert_to_int(s):
    return (int(s[0:2])+int(s[-1]))

convert_to_int('14+3')

17

In [107]:
df['LS'].head(3)

0    90
1    94
2    87
Name: LS, dtype: int64

In [108]:
test = df['ST']
test = test.apply(lambda x: convert_to_int(x))

In [109]:
test

0        90
1        94
2        87
4        85
5        86
6        80
7        92
8        76
10       90
11       81
12       67
13       80
14       75
15       86
16       89
17       89
20       74
21       88
23       89
24       61
25       88
26       86
27       75
28       83
29       81
30       79
31       82
32       82
33       87
34       72
         ..
18171    42
18173    46
18174    48
18175    39
18176    47
18177    49
18179    36
18181    46
18182    42
18184    43
18185    45
18186    45
18187    48
18188    47
18189    47
18190    44
18191    41
18192    46
18193    37
18195    46
18196    42
18197    47
18199    44
18200    47
18201    34
18202    44
18203    47
18204    47
18205    49
18206    45
Name: ST, Length: 15926, dtype: int64

In [110]:
df['ST'] = df['ST'].apply(lambda x:convert_to_int(x))

In [111]:
df['ST'].head()

0    90
1    94
2    87
4    85
5    86
Name: ST, dtype: int64

In [113]:
plus_columns.pop(0)

'LS'

In [114]:
plus_columns.pop(0)

'ST'

In [115]:
plus_columns

['RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB']

In [116]:
for i in plus_columns:
    df[i] = df[i].apply(lambda x:convert_to_int(x))

In [117]:
plus_columns_new = ['LS','ST']
plus_columns_new = plus_columns_new+plus_columns

for i in plus_columns_new:
    print(df[i].head(2))

0    90
1    94
Name: LS, dtype: int64
0    90
1    94
Name: ST, dtype: int64
0    90
1    94
Name: RS, dtype: int64
0    94
1    92
Name: LW, dtype: int64
0    95
1    93
Name: LF, dtype: int64
0    95
1    93
Name: CF, dtype: int64
0    95
1    93
Name: RF, dtype: int64
0    94
1    92
Name: RW, dtype: int64
0    95
1    91
Name: LAM, dtype: int64
0    95
1    91
Name: CAM, dtype: int64
0    95
1    91
Name: RAM, dtype: int64
0    93
1    91
Name: LM, dtype: int64
0    86
1    84
Name: LCM, dtype: int64
0    86
1    84
Name: CM, dtype: int64
0    86
1    84
Name: RCM, dtype: int64
0    93
1    91
Name: RM, dtype: int64
0    66
1    68
Name: LWB, dtype: int64
0    63
1    64
Name: LDM, dtype: int64
0    63
1    64
Name: CDM, dtype: int64
0    63
1    64
Name: RDM, dtype: int64
0    66
1    68
Name: RWB, dtype: int64
0    61
1    64
Name: LB, dtype: int64
0    49
1    56
Name: LCB, dtype: int64
0    49
1    56
Name: CB, dtype: int64
0    49
1    56
Name: RCB, dtype: int64
0    61
1    64
Name: RB, dtype: int64

### Let us take one more look at the data types and see if we need to make any changes to the columns

In [118]:
for i in df.columns.values:
    print(i),
    print(df[i].dtype)

Unnamed: 0 int64
ID int64
Name object
Age int64
Nationality object
Overall int64
Potential int64
Club object
Value object
Wage float64
Preferred Foot object
Weak Foot float64
Skill Moves float64
Work Rate object
Position object
Height object
Weight object
LS int64
ST int64
RS int64
LW int64
LF int64
CF int64
RF int64
RW int64
LAM int64
CAM int64
RAM int64
LM int64
LCM int64
CM int64
RCM int64
RM int64
LWB int64
LDM int64
CDM int64
RDM int64
RWB int64
LB int64
LCB int64
CB int64
RCB int64
RB int64
Crossing float64
Finishing float64
HeadingAccuracy float64
ShortPassing float64
Volleys float64
Dribbling float64
Curve float64
FKAccuracy float64
LongPassing float64
BallControl float64
Acceleration float64
SprintSpeed float64
Agility float64
Reactions float64
Balance float64
ShotPower float64
Jumping float64
Stamina float64
Strength float64
LongShots float64
Aggression float64
Interceptions float64
Positioning float64
Vision float64
Penalties float64
Composure float64
Marking float64
StandingTackle float64
SlidingTackle float64
GKDiving float64
GKHandling float64
GKKicking float64
GKPositioning float64
GKReflexes float64

### Heights and weights are objects; time to change that

In [119]:
df['Height'].head()

0     5'7
1     6'2
2     5'9
4    5'11
5     5'8
Name: Height, dtype: object

In [120]:
df['Weight'].head()

0    159lbs
1    183lbs
2    150lbs
4    154lbs
5    163lbs
Name: Weight, dtype: object

In [124]:
def convert_weights(s):
    s=s.replace("lbs","")
    return int(s)

In [125]:
convert_weights('159lbs')

159

In [126]:
df['Weight'] = df['Weight'].apply(lambda x: convert_weights(x))

In [127]:
df['Weight'].head(3)

0    159
1    183
2    150
Name: Weight, dtype: int64

In [128]:
def convert_heights(s):
    l = s.split("'")
    x = l[0]
    y = l[1]
    return int(x)*12 + int(y)

In [129]:
convert_heights("5'7")

67

In [130]:
df['Height'] = df['Height'].apply(lambda x: convert_heights(x))

In [131]:
df['Height'].head(2)

0    67
1    74
Name: Height, dtype: int64

### Let's look at the data types again

In [132]:
for i in df.columns.values:
    print(i),
    print(df[i].dtype)

Unnamed: 0 int64
ID int64
Name object
Age int64
Nationality object
Overall int64
Potential int64
Club object
Value object
Wage float64
Preferred Foot object
Weak Foot float64
Skill Moves float64
Work Rate object
Position object
Height int64
Weight int64
LS int64
ST int64
RS int64
LW int64
LF int64
CF int64
RF int64
RW int64
LAM int64
CAM int64
RAM int64
LM int64
LCM int64
CM int64
RCM int64
RM int64
LWB int64
LDM int64
CDM int64
RDM int64
RWB int64
LB int64
LCB int64
CB int64
RCB int64
RB int64
Crossing float64
Finishing float64
HeadingAccuracy float64
ShortPassing float64
Volleys float64
Dribbling float64
Curve float64
FKAccuracy float64
LongPassing float64
BallControl float64
Acceleration float64
SprintSpeed float64
Agility float64
Reactions float64
Balance float64
ShotPower float64
Jumping float64
Stamina float64
Strength float64
LongShots float64
Aggression float64
Interceptions float64
Positioning float64
Vision float64
Penalties float64
Composure float64
Marking float64
StandingTackle float64
SlidingTackle float64
GKDiving float64
GKHandling float64
GKKicking float64
GKPositioning float64
GKReflexes float64

### Let's convert the ```float``` values to ```int```. We did mention previously that this was unnecessary, but let's do it

In [133]:
float_columns=[]
for i in df.columns.values:
    if(df[i].dtype == 'float64'):
        float_columns.append(i)

In [139]:
float_columns

['Wage',
 'Weak Foot',
 'Skill Moves',
 'Crossing',
 'Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'Curve',
 'FKAccuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'SprintSpeed',
 'Agility',
 'Reactions',
 'Balance',
 'ShotPower',
 'Jumping',
 'Stamina',
 'Strength',
 'LongShots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'StandingTackle',
 'SlidingTackle',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes']

In [140]:
float_columns.pop(0)

'Wage'

In [141]:
float_columns

['Weak Foot',
 'Skill Moves',
 'Crossing',
 'Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'Curve',
 'FKAccuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'SprintSpeed',
 'Agility',
 'Reactions',
 'Balance',
 'ShotPower',
 'Jumping',
 'Stamina',
 'Strength',
 'LongShots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'StandingTackle',
 'SlidingTackle',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes']

In [142]:
for i in float_columns:
    print(df[i].head(2))

0    4.0
1    4.0
Name: Weak Foot, dtype: float64
0    4.0
1    5.0
Name: Skill Moves, dtype: float64
0    84.0
1    84.0
Name: Crossing, dtype: float64
0    95.0
1    94.0
Name: Finishing, dtype: float64
0    70.0
1    89.0
Name: HeadingAccuracy, dtype: float64
0    90.0
1    81.0
Name: ShortPassing, dtype: float64
0    86.0
1    87.0
Name: Volleys, dtype: float64
0    97.0
1    88.0
Name: Dribbling, dtype: float64
0    93.0
1    81.0
Name: Curve, dtype: float64
0    94.0
1    76.0
Name: FKAccuracy, dtype: float64
0    87.0
1    77.0
Name: LongPassing, dtype: float64
0    96.0
1    94.0
Name: BallControl, dtype: float64
0    91.0
1    89.0
Name: Acceleration, dtype: float64
0    86.0
1    91.0
Name: SprintSpeed, dtype: float64
0    91.0
1    87.0
Name: Agility, dtype: float64
0    95.0
1    96.0
Name: Reactions, dtype: float64
0    95.0
1    70.0
Name: Balance, dtype: float64
0    85.0
1    95.0
Name: ShotPower, dtype: float64
0    68.0
1    95.0
Name: Jumping, dtype: float64
0    72.0
1    88.0
Name: Stamina, dtype: float64
0    59.0
1    79.0
Name: Strength, dtype: float64
0    94.0
1    93.0
Name: LongShots, dtype: float64
0    48.0
1    63.0
Name: Aggression, dtype: float64
0    22.0
1    29.0
Name: Interceptions, dtype: float64
0    94.0
1    95.0
Name: Positioning, dtype: float64
0    94.0
1    82.0
Name: Vision, dtype: float64
0    75.0
1    85.0
Name: Penalties, dtype: float64
0    96.0
1    95.0
Name: Composure, dtype: float64
0    33.0
1    28.0
Name: Marking, dtype: float64
0    28.0
1    31.0
Name: StandingTackle, dtype: float64
0    26.0
1    23.0
Name: SlidingTackle, dtype: float64
0    6.0
1    7.0
Name: GKDiving, dtype: float64
0    11.0
1    11.0
Name: GKHandling, dtype: float64
0    15.0
1    15.0
Name: GKKicking, dtype: float64
0    14.0
1    14.0
Name: GKPositioning, dtype: float64
0     8.0
1    11.0
Name: GKReflexes, dtype: float64

In [143]:
test2 = df['SlidingTackle']
test2 = test2.apply(lambda(x): int(x))

In [144]:
test2

0        26
1        23
2        33
4        51
5        22
6        73
7        38
8        91
10       19
11       69
12       89
13       29
14       85
15       20
16       38
17       48
20       80
21       39
23       12
24       90
25       32
26       41
27       87
28       44
29       22
30       51
31       22
32       47
33       36
34       88
         ..
18171    42
18173    46
18174    41
18175    49
18176    25
18177    11
18179    49
18181    45
18182    46
18184    53
18185    48
18186    51
18187    42
18188    41
18189    22
18190    47
18191    46
18192    44
18193    48
18195    48
18196    54
18197    38
18199    49
18200    14
18201    53
18202    47
18203    19
18204    11
18205    27
18206    50
Name: SlidingTackle, Length: 15926, dtype: int64

In [145]:
for i in float_columns:
    df[i] = df[i].apply(lambda(x): int(x))

In [146]:
for i in float_columns:
    print(df[i].head(2))

0    4
1    4
Name: Weak Foot, dtype: int64
0    4
1    5
Name: Skill Moves, dtype: int64
0    84
1    84
Name: Crossing, dtype: int64
0    95
1    94
Name: Finishing, dtype: int64
0    70
1    89
Name: HeadingAccuracy, dtype: int64
0    90
1    81
Name: ShortPassing, dtype: int64
0    86
1    87
Name: Volleys, dtype: int64
0    97
1    88
Name: Dribbling, dtype: int64
0    93
1    81
Name: Curve, dtype: int64
0    94
1    76
Name: FKAccuracy, dtype: int64
0    87
1    77
Name: LongPassing, dtype: int64
0    96
1    94
Name: BallControl, dtype: int64
0    91
1    89
Name: Acceleration, dtype: int64
0    86
1    91
Name: SprintSpeed, dtype: int64
0    91
1    87
Name: Agility, dtype: int64
0    95
1    96
Name: Reactions, dtype: int64
0    95
1    70
Name: Balance, dtype: int64
0    85
1    95
Name: ShotPower, dtype: int64
0    68
1    95
Name: Jumping, dtype: int64
0    72
1    88
Name: Stamina, dtype: int64
0    59
1    79
Name: Strength, dtype: int64
0    94
1    93
Name: LongShots, dtype: int64
0    48
1    63
Name: Aggression, dtype: int64
0    22
1    29
Name: Interceptions, dtype: int64
0    94
1    95
Name: Positioning, dtype: int64
0    94
1    82
Name: Vision, dtype: int64
0    75
1    85
Name: Penalties, dtype: int64
0    96
1    95
Name: Composure, dtype: int64
0    33
1    28
Name: Marking, dtype: int64
0    28
1    31
Name: StandingTackle, dtype: int64
0    26
1    23
Name: SlidingTackle, dtype: int64
0    6
1    7
Name: GKDiving, dtype: int64
0    11
1    11
Name: GKHandling, dtype: int64
0    15
1    15
Name: GKKicking, dtype: int64
0    14
1    14
Name: GKPositioning, dtype: int64
0     8
1    11
Name: GKReflexes, dtype: int64

In [147]:
for i in df.columns.values:
    print(i),
    print(df[i].dtype)

Unnamed: 0 int64
ID int64
Name object
Age int64
Nationality object
Overall int64
Potential int64
Club object
Value object
Wage float64
Preferred Foot object
Weak Foot int64
Skill Moves int64
Work Rate object
Position object
Height int64
Weight int64
LS int64
ST int64
RS int64
LW int64
LF int64
CF int64
RF int64
RW int64
LAM int64
CAM int64
RAM int64
LM int64
LCM int64
CM int64
RCM int64
RM int64
LWB int64
LDM int64
CDM int64
RDM int64
RWB int64
LB int64
LCB int64
CB int64
RCB int64
RB int64
Crossing int64
Finishing int64
HeadingAccuracy int64
ShortPassing int64
Volleys int64
Dribbling int64
Curve int64
FKAccuracy int64
LongPassing int64
BallControl int64
Acceleration int64
SprintSpeed int64
Agility int64
Reactions int64
Balance int64
ShotPower int64
Jumping int64
Stamina int64
Strength int64
LongShots int64
Aggression int64
Interceptions int64
Positioning int64
Vision int64
Penalties int64
Composure int64
Marking int64
StandingTackle int64
SlidingTackle int64
GKDiving int64
GKHandling int64
GKKicking int64
GKPositioning int64
GKReflexes int64

In [148]:
numerical_columns=[]
for i in df.columns.values:
    if df[i].dtype == 'int64':
        numerical_columns.append(i)

In [149]:
numerical_columns

['Unnamed: 0',
 'ID',
 'Age',
 'Overall',
 'Potential',
 'Weak Foot',
 'Skill Moves',
 'Height',
 'Weight',
 'LS',
 'ST',
 'RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB',
 'Crossing',
 'Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'Curve',
 'FKAccuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'SprintSpeed',
 'Agility',
 'Reactions',
 'Balance',
 'ShotPower',
 'Jumping',
 'Stamina',
 'Strength',
 'LongShots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'StandingTackle',
 'SlidingTackle',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes']

In [150]:
numerical_columns.pop(0)

'Unnamed: 0'

In [151]:
numerical_columns.pop(0)

'ID'

In [152]:
numerical_columns

['Age',
 'Overall',
 'Potential',
 'Weak Foot',
 'Skill Moves',
 'Height',
 'Weight',
 'LS',
 'ST',
 'RS',
 'LW',
 'LF',
 'CF',
 'RF',
 'RW',
 'LAM',
 'CAM',
 'RAM',
 'LM',
 'LCM',
 'CM',
 'RCM',
 'RM',
 'LWB',
 'LDM',
 'CDM',
 'RDM',
 'RWB',
 'LB',
 'LCB',
 'CB',
 'RCB',
 'RB',
 'Crossing',
 'Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'Curve',
 'FKAccuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'SprintSpeed',
 'Agility',
 'Reactions',
 'Balance',
 'ShotPower',
 'Jumping',
 'Stamina',
 'Strength',
 'LongShots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'StandingTackle',
 'SlidingTackle',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes']

### Now, let us print out all the attributes of a given player

In [154]:
def print_attributes_of_a_player(playerName,attributes):
    try:
        player = df[df['Name']==playerName]
        for i in attributes:
            print(i)
            print(player[i][0])
    except:
        print('Player not found')

In [155]:
df['Name'].head()

0             L. Messi
1    Cristiano Ronaldo
2            Neymar Jr
4         K. De Bruyne
5            E. Hazard
Name: Name, dtype: object

In [157]:
print_attributes_of_a_player('L. Messi',numerical_columns)

Age
31
Overall
94
Potential
94
Weak Foot
4
Skill Moves
4
Height
67
Weight
159
LS
90
ST
90
RS
90
LW
94
LF
95
CF
95
RF
95
RW
94
LAM
95
CAM
95
RAM
95
LM
93
LCM
86
CM
86
RCM
86
RM
93
LWB
66
LDM
63
CDM
63
RDM
63
RWB
66
LB
61
LCB
49
CB
49
RCB
49
RB
61
Crossing
84
Finishing
95
HeadingAccuracy
70
ShortPassing
90
Volleys
86
Dribbling
97
Curve
93
FKAccuracy
94
LongPassing
87
BallControl
96
Acceleration
91
SprintSpeed
86
Agility
91
Reactions
95
Balance
95
ShotPower
85
Jumping
68
Stamina
72
Strength
59
LongShots
94
Aggression
48
Interceptions
22
Positioning
94
Vision
94
Penalties
75
Composure
96
Marking
33
StandingTackle
28
SlidingTackle
26
GKDiving
6
GKHandling
11
GKKicking
15
GKPositioning
14
GKReflexes
8

In [158]:
df.head()

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,565000.0,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,405000.0,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,290000.0,...,81,94,27,24,33,9,9,15,15,11
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,355000.0,...,79,88,68,58,51,15,13,5,10,13
5,5,183277,E. Hazard,27,Belgium,91,91,Chelsea,€93M,340000.0,...,86,91,34,27,22,11,12,6,8,8